.profileDescr img {
	width: 300px; 
	height: 300px;
	object-fit: cover;
	border-radius: 15px;
}

.aboutMe {
	font-weight: 700;
	color: rgb(65, 65, 232);
}

.contacts {
	padding-left: 15px;
}

.editProfileButton {
	width: 200px;
	margin-top: 10px
}

.formSummaryError {
	color: red;
	border: 2px solid red;
}
